<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Reddit Deals</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/deals/ssd">SSD</a></li>
                <li><a href="/deals/hdd">HDD</a></li>
                <li class="active"><a href="/deals/monitor">Monitor</a></li>
            </ul>
        </div>
    </div>
</nav>