.spinner {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 5rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.thumbnail {
  height: 200px !important;
  width: 200px !important;
  padding: 1rem !important;
  margin: auto !important;
}

.out-of-stock {
  color: grey !important;
}

.hot-deal {
  font-style: italic;
  font-weight: 600;
  color: red;
}
