.spinner {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 5rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main.bg-color {
  background-color: grey;
}

.title-color {
  color: white;
  font-weight: bold;
}

.thumbnail {
  height: 200px !important;
  width: 200px !important;
  padding: 1rem !important;
  margin: auto !important;
}

.out-of-stock {
  color: grey !important;
}

.hot-deal {
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
  color: red;
}

.default-title {
  color: black;
}
